body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #353333;
    color: #8FD14F;
    text-align: center;
    

}

header{
    background-color: #353333;
    color: #8FD14F;
    text-align: center;
}
.navbar-header{
    background-color: #353333;
    color: #8FD14F;
    text-align: center;
}
.iniciar-sesion{
    background-color: #353333;
    color: #8FD14F;
    text-align: center;
}
.container{
    padding-left: 100;
    align-items: center;
    align-self: center;
    text-align: center;
}
.parallax-section{
    text-align: center;
}
.navbar-brand{
    color: #8FD14F;
    text-align: center;
}
input{
    border-color: #6A6f6f;
    border-width: 1px;
    padding: 0px 25x;
    margin-bottom: 0.5em;
    background-color:  #6A6A6A;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.form-control{
    background-color: black;
    color: white;
}

.titulo{
    margin-bottom: 9em;
}
h4{
    color: white;
}

.formuser{
    display: flex;
    align-items: center;
    justify-content: space-between;
}